@using System.Data;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Main/layui/css/layui.css" media="all">
    <style>
        .type {
            font-size: 22px;
        }

        .price {
            font-size: 20px;
            color: orange;
        }

        .hh {
            clear: both;
            line-height: 32px;
        }

        .dd {
            width: 260px;
            height: 310px;
            border: 1px dashed red;
            padding: 10px 25px 25px 25px;
            text-align: center;
            float: left;
            margin: 10px;
        }
    </style>
</head>
<body>
    @foreach (DataRow item in Model.Rows)
    {
        <div class="dd">
            <div class="hh"><img src="http://www.ngrok.cc/Public/img/hk-introduction_hover.jpg" /></div>
            <div class="type hh">@item["TunnelType"]</div>
            <div class="price hh">@item["PriceExplain"]</div>
            <div class="hh">
                <span style="float:left">地区</span><span style="float:right">@item["Address"]</span>
            </div>
            <div class="hh">
                <span style="float:left">带宽</span><span style="float:right">@item["BandWidth"]M</span>
            </div>
            <div class="hh">
                <span style="float:left">隧道</span><span style="float:right">@item["Tunnel"]T</span>
            </div>
            <div class="hh">
                <span style="float:left">速率</span><span style="float:right">@item["Rate"]</span>
            </div>
            <div class="hh">
                <a class="layui-btn layui-btn-normal" onclick="jumpTunnel('@item["Id"]')">立即购买</a>
            </div>
        </div>
    }
    <script src="~/Content/Main/layui/layui.js"></script>
    <script>
        function jumpTunnel(id) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.confirm('请注意！！！<br/>相同类型服务器累计时间<br/><span style="color:#ff0000;">到期时间=当前到期+购买时间</span><br/>不同类型服务器不会累计时间<br/><span style="color:#ff0000;">到期时间=以付款时间+购买时间</span>', {
                    btn: ['确定', '取消'], title: '购买注意事项'
                }, function () {
                    location.href = 'Add?Id=' + id;
                });
            })
        }
    </script>
</body>
</html>
